$text-light: #ffffff !default;
$text-lighter: #d8d8d8 !default;
$text-dark: #212529 !default;

$bg-light: #ffffff !default;
$bg-active: #52b4f6 !default;

$border-radius: 5px !default;
$border-color: #ced4da !default;
$border-color-active: #9fd6fa !default;
$border-color-shadow: #3facf5 !default;



.ng-date-popup {
  position: absolute;
  z-index: 99;

  left: 0;
  right: 0;
  bottom: -5px;
  transform: translateY(100%);
  padding: 10px;

  background: $bg-light;
  border: 2px solid $border-color;
  border-radius: $border-radius;

  width: 300px;

  transition: opacity 0.05s;

  &.position-bottom-hidden {
    opacity: 0;
  }

  &.position-top {
    top: initial;
    bottom: 100%
  }
}

.ng-date-popup--header {
  display: flex;
  align-items: center;
}

.ng-date-popup--prev,
.ng-date-popup--next {
  color: $bg-active;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: $border-radius;
}
.ng-date-popup--prev[disabled],
.ng-date-popup--next[disabled] {
  color: $text-lighter;
  cursor: default;
}

.ng-date-popup--month {
  flex-basis: 100px;
  flex-shrink: 0;

  text-transform: capitalize;
  text-align: center;

}

.ng-date-popup--year {
  width: 100px;
  flex-basis: 100px;
  flex-shrink: 0;
  flex-grow: 1;

  border: 2px solid $border-color;
  border-radius: $border-radius;
  padding: 4px 12px;

  &:focus {
    color: $text-dark;
    background-color: $bg-light;
    border-color: $border-color-active;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba($border-color-shadow, 0.25);
  }
}

.ng-date-popup--date {

}

.ng-date-popup--date-row {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $border-color;
}

.ng-date-popup--date-row-separator {

}

.ng-date-popup--days {
  display: flex;

  & > * {
    flex-basis: calc(100% / 7);
    text-align: center;
  }
}

.ng-date-popup--date-day {
  flex-basis: calc(100% / 7);
  text-align: center;
  border: 1px solid $border-color;
  box-sizing: border-box;
}

.ng-date-popup--date-day:not(.ng-date-popup--date-disabled ) {
  cursor: pointer;
}

.ng-date-popup--date-weekend {
  background: rgba($bg-active, 0.15);
}

.ng-date-popup--date-disabled {
  background: rgba($border-color, 0.25);
  color: $text-dark;
}

.ng-date-popup--date-active {
  background: $bg-active;
  color: $text-light;
}

.ng-date-popup--relative-wrapper {
  position: relative;
}

.ng-date-popup--time-row {
  display: flex;
  align-items: center;
}
